[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
flask = "*"
firebase-admin = "*"
scikit-learn = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
flask = "env FLASK_APP=main.py flask run"
fmt = "black main.py"
